html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, summary, footer, main, aside, section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

body {
    padding: 10px;
}

#main{
    margin: 30% 0;
}

#title{
    text-align: center;
}

.torres{
    background-color: black;
    height: 300px;
    width: 10px;
}

#discos{
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
    height: 300px;
    width: 32%
}

#torres{
    display: flex;
    justify-content: space-around;
    z-index: -1;
    position: relative;
}

#disco1{
    background-color: blue;
    width: 45%;
    height: 30px;
    border: solid black;
    border-width: 2px;
    border-radius: 10px;
}

#disco2{
    background-color: purple;
    width: 60%;
    height: 30px;
    border: solid black;
    border-width: 2px;
    border-radius: 10px;
}

#disco3{
    background-color: green;
    width: 75%;
    height: 30px;
    border: solid black;
    border-width: 2px;
    border-radius: 10px;
}

#disco4{
    background-color: red;
    width: 90%;
    height: 30px;
    border: solid black;
    border-width: 2px;
    border-radius: 10px;
}


 @media screen and (min-width: 678px){
    #main{
        margin: 8% 0;
    }
    #discos{ 
        width: 32.5%;
    }

    #disco1{
        width: 25%;
        height: 40px;
    }

    #disco2{
        width: 40%;
        height: 40px;
    }

    #disco3{
        width: 55%;
        height: 40px;
    }

    #disco4{
        width: 70%;
        height: 40px;
    }
    }
